<div class="row" >
  <div class="col-xs-12 text-right">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-success dropdown-toggle">
        Manage Employee <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer" (click)="onEditEmployee()">Edit Employee</a>
        </li>
        <li>
          <a style="cursor: pointer" (click)="onDeleteEmployee()">Delete Employee</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ employee.username }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="label-value-pair">
      <span class="label label-primary">Name:</span>
      <strong>{{ employee.name }}</strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="label-value-pair">
      <span class="label label-primary">Email:</span>
      <strong>{{ employee.email }}</strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="label-value-pair">
      <span class="label label-primary">Address:</span>
      <strong>{{ employee.address }}</strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="label-value-pair">
      <span class="label label-primary">Department:</span>
      <strong>{{ employee.department.name }}</strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4><span class="label label-primary">Leaves:</span></h4>
    <ul class="list-group mt-2">
      <li class="list-group-item" *ngFor="let leave of employee.leaves">
        <div class="row">
          <div class="col-xs-6">
            <strong class="label-date">From:</strong> {{ leave.fromDate }}
          </div>
          <div class="col-xs-6">
            <strong class="label-date">To:</strong> {{ leave.toDate }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <strong>Days:</strong> {{ leave.numberOfDays }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <strong>Type:</strong> {{ leave.leaveType }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12"><strong>Note:</strong> {{ leave.note }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4><span class="label label-primary">Expense Claims:</span></h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let expenseClaim of employee.expenseClaims"
      >
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <label class="label label-info">Total Pay:</label>
            <span>{{ expenseClaim.total }}</span>
          </div>
          <div class="col-xs-12 col-sm-3">
            <label class="label label-info">Date:</label>
            <span>{{ expenseClaim.date }}</span>
          </div>
          <div class="col-xs-12 col-sm-6">
            <label class="label label-info">Status:</label>
            <span>{{ expenseClaim.status }}</span>
          </div>
          <div class="col-xs-12 col-sm-6" style="margin-top: 17px">
            <label class="label label-info">Description:</label>
            <span>{{ expenseClaim.description }}</span>
          </div>
        </div>
        <div class="row" *ngIf="expenseClaim.expenseClaimDetails.length > 0">
          <div class="col-xs-12" style="margin-top: 17px;margin-bottom: 7px;">
            <label class="label label-primary">Expense Claim Details:</label>
          </div>
          <div class="col-xs-12">
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let detail of expenseClaim.expenseClaimDetails"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-3">
                    <label class="label label-default">Type:</label>
                    <span>{{ detail.expenseClaimTypeName }}</span>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <label class="label label-default">Date:</label>
                    <span>{{ detail.date }}</span>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <label class="label label-default">Total:</label>
                    <span>{{ detail.total }}</span>
                  </div>
                  <div  class="row" >
                    <div class="col-xs-6" style="margin-top: 17px">
                      <div class="col-xs-12 col-sm-3">
                        <label class="label label-default">Description:</label>
                        <span>{{ detail.description }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


